<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Topic</title>
    <link rel="stylesheet" href="/style.css">

    <script src="https://use.fontawesome.com/bcfbf51388.js"></script>

    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="/main.js"></script>
  </head>
  <body>
    <div id="container">
      <header id="header-title">
        <h1>Add New Topic</h1>
        <a href="/topic">
          <input id="button" type="submit" value="Back to the Football Forum">
        </a>
      </header>
      <section>
        <form id="new-form" action="/topic" method="POST">
          <label for="topics[title]">Title</label><br>
          <input id="input-title" type="text" name="topics[title]" placeholder="Title"><br>
          <label for="topics[content]">Content</label><br>
          <textarea name="topics[content]" rows="8" cols="80" placeholder="Write here..."></textarea><br>
          <input id="button" type="submit" value="Add Topic">
        </form>
      </section>
    </div>
  </body>
</html>
