<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD NEW TOPIC</title>
  </head>
  <body>
    <main>
      <header>
        <h1>ADD NEW TOPIC</h1>
      </header>
      <section>
        <form class="" action="/topic" method="POST">
          <label for="topic[title]">TITLE:</label><br>
          <input type="text" name="topic[title]"><br>
          <label for="topic[content]">Content</label><br>
          <input type="text" name="topic[content]" value=""><br>
          <label for="topic[username]">User name</label><br>
          <input type="text" name="topic[username]" value=""><br>
          <input type="submit" value="ADD NEW TOPIC">
        </form>
      </section>
    </main>
  </body>
</html>
